<div class="row">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th class="hidden-sm hidden-xs">Gender</th>
        <th class="hidden-sm hidden-xs">Race</th>
        <th class="hidden-sm hidden-xs">Medical Scheme</th>
        <th class="hidden-sm hidden-xs">Facilities</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" class="form-control" (keyup.enter)="onClick_Search()" [(ngModel)]="firstNameFilter" placeholder="First Name" />
        </td>
        <td>
          <input type="text" class="form-control" (keyup.enter)="onClick_Search()" [(ngModel)]="lastNameFilter" placeholder="Last Name" />
        </td>
        <td>
          <input type="text" class="form-control" (keyup.enter)="onClick_Search()" [(ngModel)]="dateOfBirthFilter" placeholder="Date of Birth" />
        </td>
        <td>
          <input type="text" class="form-control" (keyup.enter)="onClick_Search()" [(ngModel)]="genderFilter" placeholder="Gender" />
        </td>
        <td>
          <input type="text" class="form-control" (keyup.enter)="onClick_Search()" [(ngModel)]="raceFilter" placeholder="Race" />
        </td>
        <td>
          <input type="text" class="form-control" (keyup.enter)="onClick_Search()" [(ngModel)]="medicalSchemeFilter" placeholder="Medical Scheme" />
        </td>
        <td>

        </td>
        <td>
          <button class="btn btn-primary pull-right btn-action" (click)="onClick_Search()">Search</button>
        </td>
      </tr>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.Firstname }}</td>
        <td>{{ patient.Lastname }}</td>
        <td>{{ patient.DateOfBirth | date:'yyyy-MM-dd' }}</td>
        <td class="hidden-sm hidden-xs">{{ patient.Gender?.Name }}</td>
        <td class="hidden-sm hidden-xs">{{ patient.Race?.Name }}</td>
        <td class="hidden-sm hidden-xs">{{ patient.MedicalSchemeDetails.MedicalScheme?.Name }}</td>
        <td class="hidden-sm hidden-xs">{{ patient.FacilitiesName }}</td>
        <td>
          <a href="/Patient/Edit?patientId={{patient.Id}}" class="btn btn-primary pull-right btn-action">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination pagination-lg pull-right">
    <li *ngFor="let page of pages" class="{{ page == currentPage? 'active' : '' }}">
      <a (click)="onClick_PageNumber(page)">{{ page }}</a>
    </li>
  </ul>
</div>